ruby:

  list = [
    {
      header: 'Find us in Paris 🇫🇷',
      lines:  [
        'Station F',
        '5 Parvis Alan Turing',
        'Paris, 75013, France',
      ],
    },
    {
      header: 'Find us in Santa Monica 🇺🇸',
      lines:  [
        'Wework',
        '312 Arizona Ave',
        'Santa Monica, 90401, California',
      ],
    },
    {
      header: 'Need to get in touch? 📨',
      lines:  [
        'contact@doublelobster.com',
      ],
    },
  ]

.container.sp-1.text-white
  .row
    - list.each do |el|
      .col-md-4.mb-3
        .lead.text-gray.mb-2.fw-normal.ff-title style='letter-spacing: 0.5px;'
          = el[:header]
        .lead.text-white.fw-bold
          == el[:lines].join("<br>")
