.container.spb-1.spb-lg-3
  .row.d-flex.flex-wrap
    .col-md-6.col-lg-4.pb-2
      a.card.card-project href='https://www.startupstofund.com' target='_blank'
        div
          img.d-inline-block.position-relative src='assets/img/logo/logo.stf.svg' style='height: 22px; width: 22px;'
          span.project-title.ff-title.fw-bold.text-lowercase
            | Startupstofund.com
        .project-description.mt-2
          .mt-0
            | We help forward-thinking investors source some of the best startup deals from around the world. It's 100% free for startups founders to list!
          .mt-1
            | We ❤️ to highlight international & diverse founders 👩 🏳️‍🌈 🙋🏽‍♀️🙋🏿‍♂️🎖️ 🌎

    .col-md-6.col-lg-4.pb-2
      a.card.card-project href='https://www.cheatcheetah.com' target='_blank'
        div
          img.d-inline-block.position-relative src='assets/img/logo/logo.cheatcheetah.svg' style='height: 22px; width: 22px; top: -2px;'
          span.project-title.ff-title.fw-bold.text-lowercase
            | CheatCheetah.com
        .project-description.mt-2
          .mt-0
            | The best free cheat sheets, shared by a community of talented creators.
          .mt-1
            | Find cool cheat sheets on Growth, Startups, Engineering, VC Financing and more!

    .col-md-6.col-lg-4.pb-2
      a.card.card-project href='https://www.rubykit.org' target='_blank'
        div
          img.d-inline-block.position-relative src='assets/img/logo/logo.rubykit.svg' style='height: 22px; width: 22px; top: -2px;'
          span.project-title.ff-title.fw-bold.text-lowercase
            | RubyKit.org
        .project-description.mt-2
          .mt-0
            | A web framework designed for growth 🚀 Build extensible & resilient apps, really fast!
          .mt-1
            | The "not-so-secret sauce" behind our own apps 😉
