// user-variables.scss

$font-family-sans-serif:                                    "IBM Plex Sans", sans-serif;
$font-family-monospace:                                     "Roboto Mono", monospace;

$black:                                                     #000;
$gray-100:                                                  #f8f9fa;

$body-bg:                                                   #fff;

$primary:                                                   #000;
//$primary-darker:                                            $gray-900;
//$primary-lighter:                                           $gray-700;
//$link-hover-color:                                          $warning;

$container-max-widths: (
  lg:  960px,
  xl:  960px,
  xxl: 960px,
);

$font-weight-lighter:         200;
$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-bold:            500;
$font-weight-bolder:          700;
