.card.card-project {
  height:     100%;
  border:     0;
  padding:    20px;
  background: linear-gradient(180deg, #fcfbf7, #f6f0e4) !important;
  border:     #f6f0e4 solid 1px;
  border-radius: 6px;

  &:hover {
    cursor: pointer;
    border: #dec99d solid 1px;
  }

  .project-title {
    letter-spacing: 0.5px;
    margin-left: 9px;
  }

  .project-description {
    line-height: 1.4;
    font-size: 0.9rem;
    color: #444;
    text-align: justify;
    padding-left: 4px;
    padding-right: 4px;
  }
}
