footer.container.space-1.space-top-md-1.px-5.px-lg-15px

  p.small.text-center.mb-0
    span.small.text-justify.ml-3.text-monospace.text-small
      | We build everything with ❤️. No shellfish is harmed in the process.